@keyframes borderMove {
    0% {
        border: 2px dashed transparent;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    }

    25% {
        border-top: 2px dashed #a0a0a0;
        border-right: 2px dashed transparent;
    }

    50% {
        border-right: 2px dashed #a0a0a0;
        border-bottom: 2px dashed transparent;
    }

    75% {
        border-bottom: 2px dashed #a0a0a0;
        border-left: 2px dashed transparent;
    }

    100% {
        border-left: 2px dashed #a0a0a0;
        border-top: 2px dashed transparent;
    }
}

@layer utilities {
    .animate-border-move {
        animation: borderMove 1s linear infinite;
    }
}